.boundingcontainer {
  overflow-x: hidden;
  position: relative;
  margin: 0px;
}

.homeContainer {
  height: 100vh;
  display: flex;
  background-color: black;
  justify-content: center;
}

.homeContainer .lamp{
  width: 22.5vmin;
  margin-left: 2.5vmin;
}

.homeContainer .initials{
  height: 70vmin;
}

.logo{
  height:77.5vh;
  display:flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 7.5vh;
  margin-top: 10px;
  margin-right: 1vw;
  margin-bottom: 10px;
}

.nav-links{
  font-size: 3vmin;
  z-index: 1;
  margin-top: 70px;
}

.nav-links a {
  text-decoration: none;
  color: #FFE41D;
}

.nav-links li {
  list-style: none;
  color: #FFE41D;
  display: table-cell;
  position: relative;
}

.nav-links a:hover {
  color: white;
  transition: 0.1s ease-in;
}

.nav-links a::after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  background: #FFE41D;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-links a:hover::after{
  width: 100%;
  left: 0;
}

.icons{
  position: relative;
  /* height: 80%; */
  margin-top: 5vh;
  bottom: 0px;
  margin-left: 45vw;
  display:flex;
  justify-content: space-around;
  align-items: baseline;
}

.icons i{
  display:none;
}

/* makes nav menu visible */
.nav-active {
  color: #FFE41D;
}

/* animation of the links in the drop down menu */
@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(10vh);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.burger div{
  width: 40px;
  height: 5px;
  margin-right: 0px;
  background-color: #CF2127;
  margin: 5px;
  display: flex;
  align-items: flex-end;
  transition: all 0.25s ease;
}

.nav-links .burger {
  margin-right: 30px;
}

/* This section gives the burger a position value and sets its z-index over dropdownContainer */
.header .burger {
  position: inherit;
  z-index: 2;
}
.burger:hover div{
  cursor: pointer;
  background-color: #FFE12B!important;
}

/* turns burger into a down arrow when hovered */
.burger:hover .line2{
  transform: scaleX(0.66);
}
.burger:hover .line3{
  transform: scaleX(0.33);
}
.burger:hover .line4{
  opacity: 0;
}

/*turns burger into an up arrow when hovered and nav menu is visible*/
.burger-response:hover .line1{
  transform: scaleX(0.33);
}

.burger-response:hover .line2{
  transform: scaleX(0.66);
}

.burger-response:hover .line3{
  transform: scaleX(1);
}

.burger-response:hover .line4{
  opacity: 0;
}

