.boundingcontainer {
    overflow-x: hidden;
    position: relative;
    margin: 0px;
    height: 100vh;
    background-color: white;
}


.title h2{
  background-color: #ffb020;
  /* background-color: #972a6c; */
}

.expBanner {
    display: flex;
    flex-direction: column;
    background-color: black;
    height:45%;
}

.bannerTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index:1;
    -webkit-text-stroke-width: 0.1vmin;
    -webkit-text-stroke-color: black;
}

.expContent{
    /* padding: 0 5vw; */
    width:100%;
}

.expContent p {
  font-size: 1.5em;
  color: black;
  display: inline-block;
}

.img:hover{
    opacity:55%;
}


/* @font-face{
    font-family: "gt-america";
    src: url("fonts/GT-America-Medium.woff2")
}

.subtitle h2{
    font-family: 'gt-america';
    color: white;
} */

.img{
    max-height:25vh;
    max-width:25vh;
}

.slideContainer {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 1;
    transform: translateX(100%);
    transition: transform 0.6s ease-in;
    margin-top: 45vh;
    display:flex;
    padding: 2vh 0;
    min-height: calc(59vh + 2.5em + 2.4rem);
}

.slideContainer-active {
    transform: translateX(0%);
    /* height: 100vh; */
}

#arrow {
    margin-left: 1.5vw;
    font-size: 2em;
    color:#ffb020;
    margin-bottom: 0;
}

#arrow:hover{
    color:#4e5969;
}

.exp-description h6 {
    margin-left: 1.5vw;
    color: black;
    font-size: 1.25em;;
    margin-bottom: 0;
}

.exp-description p {
    margin-bottom: 0;
    font-size: 0.85em;
}

.exp-description li{
    list-style: none;
    display:flex;
    position:relative;
}
/* 
#descr::after, #num::after, #skills::after{
    content: attr(content);
    position:absolute;
    font-size: 0.85em;
    width: calc(66.6666666664% - 1em);
} */

#caption{
    font-size: 0.85em;
}

#refImg1, #refImg2{
    max-width: 100%;
    min-width: 250px;
}

.fig{
    margin-right: 0px;
}

@media (max-width: 1200px) and (min-width: 400px){
    .lamp {
      opacity: 65%;
    }
}

.expContent h5{
    margin-top: 4vh;
    margin-bottom: .5em;
      text-decoration: underline;
      text-decoration-color:#ffb020;
}

#invisible{
    color:white;
    margin:0 0 0 0;
}

.courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5vw;
    grid-row-gap: 1vh;
}

.courses p {
    font-size: 1em;
    color: #8a8a8a;;
    justify-content: flex-start;
}